.TagsList {
  $self: &;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s ease-out;

    &_active {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
      background-color: #FFF;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);

      & #{$self}__icon_hidden {
        opacity: 0.4;
      }
    }
  }

  &__add-button {
    color: #767676;

    &:hover {
      color: #000;

      & svg {
        fill: #000;
      }
    }
  }

  &__left-icon {
    margin-right: 12px;
  }

  &__icon {
    &_gray {
      fill: #7C7C7C;
    }

    &_interactive {
      transition: .25s ease-out;

      &:hover {
        opacity: 1 !important;
      }
    }

    &_hidden {
      opacity: 0;
    }
  }

  &__label {
    position: relative;
    top: 1px;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }

  &__remove-btn {
    flex-shrink: 0;
    margin-left: auto;
    padding: 8px;
  }
}
