.TagsList {
  margin: 0;
  padding: 0;
  list-style: none;

  &__Item {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-gap: 6px;
    align-items: center;
    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s ease-out;

    &_Active {
      box-shadow: 0 3px 10px rgba(0, 0, 0, .04);
      background-color: #FFF;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__AddButton {
    color: #767676;

    &:hover {
      color: #000;

      & svg {
        fill: #000;
      }
    }
  }

  &__Icon,
  &__Tag {
    margin: 0 auto;
  }

  &__Icon {
    fill: #7C7C7C;
    transition: .25s ease-out;
  }

  &__Label {
    position: relative;
    top: 1px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}
