html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.todo {
  display: flex;
  max-width: 746px;
  height: 100%;
  margin: 0 auto;

  &__sidebar {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: max-content;
    grid-gap: 32px 0;
    width: 240px;
    padding: 60px 20px;
    border-right: 1px solid #F1F1F1;
    background-color: #F4F6F8;
  }
}
